# Visual Studio Code 
.vscode/

# Pickle files
*.pkl
*.pickle

# Mac OS
.DS_Store

# Datasets
*.csv
*.data

# Models
*.h5

# Tflearn files and logs
checkpoint
*.tflearn.data-00000-of-00001
*.tflearn.index
*.tflearn.meta
tflearn_logs/